apiVersion: v1
kind: ConfigMap
metadata:
  name: alertmanager-config
  namespace: monitoring
data:
  alertmanager.yml: |
    global:
      resolve_timeout: 5m

      # EMAIL SETTINGS
      smtp_smarthost: 'smtp.gmail.com:587'
      smtp_from: 'bypassthepower12@gmail.com'
      smtp_auth_username: 'bypassthepower12@gmail.com'
      smtp_auth_password: '123456'  # Gmail App Password

    route:
      receiver: default-receiver
      group_wait: 30s
      group_interval: 5m
      repeat_interval: 1h

    receivers:
    - name: default-receiver
      email_configs:
      - to: 'pdorathy35@gmail.com'

      slack_configs:
      - api_url: 'https://hooks.slack.com/services/XXXXXXXXX/YYYYYYYYY/ZZZZZZZZZZZZ'
        channel: '#alerts'

